@import "tailwindcss";

@font-face {
  font-family: "AtlantisText";
  src: local("AtlantisText-Regular"),
    url("../fonts/AtlantisText-Regular.ttf") format("truetype");
  font-weight:400;
}

@font-face {
  font-family: "AtlantisText";
  src: local("AtlantisText-Bold"),
    url("../fonts/AtlantisText-Bold.ttf") format("truetype");
  font-weight:700;
}

@font-face {
  font-family: "AtlantisText";
  src: local("AtlantisHeadline-Bold"),
    url("../fonts/AtlantisHeadline-Bold.ttf") format("truetype");
  font-weight:900;
}

@font-face {
  font-family: "AtlantisText";
  src: local("Atlantis-RegularSmallCaps"),
    url("../fonts/Atlantis-RegularSmallCaps.ttf") format("truetype");
  font-weight:500;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brown: #312518;
  --yellow: #cbaf7c;
  --darkerYellow: #af9669
}

@theme {
  --color-secondary: #3c2d1e;
  --color-darker_secondary: #251d13;
  --color-primary: #cbaf7c;
  --color-darker_primary: #af9669;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.crow-icon {
  width: 31.666px;
  height: 38px;
  background: url('/CrowSprite.png') -158.333px 0;
  image-rendering: pixelated;
  transform: scale(5); /* Keep your zoom */
  transform-origin: left bottom; /* Better zoom behavior */
  margin-left: 0px;
  margin-top: 50px;
}

.crow-icon:hover {
  /* Animate through all 6 frames */
  animation: fly 1.5s steps(5) infinite;
}

@keyframes fly {
  0% { background-position: -158.33px 0; } /* Last frame (frame 6) */
  50% { background-position: 0px 0; } /* Last frame (frame 6) */
  100% { background-position: -158.33px 0; } /* Last frame (frame 6) */
}

.chest-icon {
  width: 48px;
  height: 32px;

  background-image: url('/chest.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  image-rendering: pixelated;

  transform: scale(3.5);
  transform-origin: left bottom;
  margin-left: -20px;
  margin-top: 20px;
}

.chest-icon:hover {
  animation: open-chest 1s steps(1) forwards;
}

@keyframes open-chest {
  0%   { background-position: 0px 0px; }
  10%  { background-position: -48px 0px; }
  20%  { background-position: -96px 0px; }
  30%  { background-position: -144px 0px; }
  40%  { background-position: -192px 0px; }
  50%  { background-position: 0px -32px; }
  60%  { background-position: -48px -32px; }
  70%  { background-position: -96px -32px; }
  80%  { background-position: -144px -32px; }
  90%  { background-position: -192px -32px; }
  100% { background-position: -192px -32px; }
}
